*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

.carousel-item{
    height: 70vh;
    min-height: 100px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}